### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Flutter / Dart ###
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

### IntelliJ IDEA ###
.idea/
*.iml

### Android ###
android/local.properties
android/.gradle/

### Mac OS ###
.DS_Store

### Android Keystore ###
key.properties
*.jks
android/signing-credentials.local.txt

### Local build artifacts & analysis dumps ###
*.apk
*.aab
*.apks
aab_extract/
apk*_extract/
apk_unzip/
tools/
assets/icon-options/
qr_vault_app_icon.png